@import '../../styles/index.scss';
.wrap {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  padding: 0 100px;
  height: 100%;

  @include respond-to(phone320) {
    max-width: 414px;
    padding: 0 10px;
  }
  @include respond-to(tablets1024) {
    max-width: 924px;
    padding: 0 70px;
  }
  @include respond-to(desktopHD1440) {
    max-width: 1240px;
    padding: 0 70px;
  }
  @include respond-to(desktopHDXL1440) {
    max-width: 1240px;
    padding: 0 100px;
  }
}
