@import '../../styles/index.scss';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.article-wrapper {
  max-width: 860px;
  padding: 38px;
  margin-bottom: 20%;

  @include respond-to(phone320) {
    max-width: 414px;
    padding: 26px;
  }
  @include respond-to(tablets1024) {
    max-width: 600px;
  }
  @include respond-to(desktopHD1440) {
    max-width: 740px;
  }

  .article-tag {
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 30px;
    transition: max-height 0.4s 0.1s;
    &:hover {
      transition: max-height 0.4s 0.3s;
      max-height: 100px;
    }
  }
  .article-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 45px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 13px;
  }

  .article-info {
    width: max-content;
    padding: 0 28px;
    background-color: #000;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    @include flex-center;
    height: 20px;
    .article-author {
      text-transform: uppercase;
      padding-right: 10px;
    }
    .article-date {
      padding-left: 10px;
    }
  }

  // .article-author {
  //   font-family: 'Crimson Text', serif;
  //   font-size: 14px;
  //   color: #ffffff;
  //   padding: 0 28px;
  //   width: max-content;
  //   @include flex-center;
  //   text-transform: uppercase;
  //   background-color: #000;
  // }
  // .article-date {
  // }
}
