@import '../../styles/index.scss';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.article-content-wrapper {
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  color: #000;
  line-height: 1.58;
  margin: 20px 0;
  word-wrap: normal;

  @include respond-to(phone320) {
    font-size: 20px;
  }

  p {
    margin: 10px 0;
  }
  a {
    text-decoration: none;
    border-bottom: 2px dashed #e8e8e8;

    &:hover {
      color: $blue;
    }
  }

  strong {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
    font-weight: bold;
  }

  h1 {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    font-weight: bold;
  }

  h2 {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
    font-weight: bold;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
    font-weight: bold;
  }
  ul li {
    font-size: 20px;
    margin: 5px 0 5px 50px;

    list-style: square;
    list-style-position: inside;
  }
  pre {
    font-family: monospace;
    padding: 16px;
    overflow: auto;
    font-size: 75%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 5px;
  }
  img {
    display: block;
    margin: 2em 0;
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.02, 1.02);
      box-shadow: 0px 3px 6px rgba(#666, 0.566);
    }
  }
  iframe {
    margin: 2em 0;
    width: 100%;
    height: auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
}
