@import '../../styles/index.scss';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.article-content-wrapper {
  font-family: 'Crimson Text', serif;
  width: 100%;
  font-size: 22px;
  color: #000;
  line-height: 1.58;
  margin: 20px 0;
  word-wrap: normal;

  p {
    margin: 10px 0;
  }
  a {
    text-decoration: none;
    border-bottom: 2px dashed #e8e8e8;

    &:hover {
      color: $blue;
    }
  }

  strong {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
    font-weight: bold;
  }
  h2 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
    font-weight: bold;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
    font-weight: bold;
  }
  ul li {
    font-size: 20px;
    margin: 5px 0 5px 50px;

    list-style: square;
    list-style-position: inside;
  }
  pre {
    font-family: monospace;
    padding: 16px;
    overflow: auto;
    font-size: 75%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }
  img {
    display: block;
    margin: 2em 0;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
