@import '../../styles/index.scss';

.title-wrap {
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid $blue;
  font-size: 36px;
  padding: 10px;
  width: max-content;
}
.title {
  @include flex-center();
}
