@import '../../styles/index.scss';

.searchbar {
  cursor: pointer;
  input {
    &::-webkit-input-placeholder {
      color: $darker-grey;
      text-align: center;
    }
    width: 25vw;
    max-width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: $lighter-grey;
    color: #000;
    padding: 0 10px;
    transition: 0.5s;
    //Break point for phone and tablet
    @include respond-to(phone320) {
      display: none;
    }
    @include respond-to(tablets768) {
      display: none;
    }
  }
  .search-icon {
    padding: 13px;
    &:hover {
      svg {
        #search-icon {
          fill: $blue;
        }
      }
    }
    svg {
      vertical-align: middle;
      #search-icon {
        transition: 200ms;
        transition-timing-function: ease-in-out;
      }
    }
  }
}
