//Center the content
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Media Queries
@mixin respond-to($media) {
  @if $media == phone320 {
    //phone portrait
    @media only screen and (max-width: 414px) {
      @content;
    }
  }
  @if $media == phoneCard {
    //Phone for Card
    @media only screen and (max-width: 700px) {
      @content;
    }
  } @else if $media == tabletsCard {
    //Tablet for Card
    @media only screen and (max-width: 768px) and (min-width: 701px) {
      @content;
    }
  } @else if $media == tablets768 {
    //tablet portrait
    @media only screen and (max-width: 768px) and (min-width: 415px) {
      @content;
    }
  } @else if $media == tablets1024 {
    //tablet landscape
    @media only screen and (max-width: 1024px) and (min-width: 769px) {
      @content;
    }
  } @else if $media == desktopHD1440 {
    //desktop HD
    @media only screen and (max-width: 1440px) and (min-width: 1025px) {
      @content;
    }
  } @else if $media == desktopHDXL1440 {
    //Larger than desktop HD
    @media only screen and (min-width: 1441px) {
      @content;
    }
  }
}
