$card-overlay-colors: #091c85, #250d47, #053755, #164866, #08045c, #4e55ba,
  #3867b1, #3f51b5;

$tag-colors: #0092f1, #2d47ff, #6e00f4, #aa00ff, #d70063, #e90000, #ff5f00,
  #ffab00, #ffd600, #cddc39, #64dd17, #00bfa5, #00b8d4;
@for $i from 1 through length($card-overlay-colors) {
  .card-overlay-#{$i} {
    position: relative;
    > div {
      opacity: 1;
      &:hover {
        opacity: 0;
        transition: opacity 0.4s 0.1s;
      }
    }
    &:before {
      content: '';

      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: rgba(nth($card-overlay-colors, $i), 0.5);
      border-radius: 5px;
    }
    &:hover:before {
      background-color: rgba(255, 255, 255, 0);
      transition: background-color 0.5s;
    }
  }
}

@for $i from 1 through length($tag-colors) {
  .tag-colors-#{$i} {
    color: nth($tag-colors, $i);
  }
}
