@import '../../styles/index.scss';

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px #d9d9d9 solid;
  transition: 0.5s;
  .header-wrap {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    //Break point for header
    @include respond-to(phone320) {
      grid-template-columns: 3fr 1fr 0;
    }
    @include respond-to(tablets768) {
      grid-template-columns: 3fr 1fr 0;
    }
    @include respond-to(tablets1024) {
      grid-template-columns: 3fr 3fr 0;
    }
    @include respond-to(desktopHD1440) {
      grid-template-columns: 1fr 2fr 1fr;
    }
    @include respond-to(desktopHD1440) {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
  .navbar-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .searchbar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    //Break point for phone and tablets
    @include respond-to(phone320) {
      justify-content: flex-end;
    }
    @include respond-to(tablets768) {
      justify-content: flex-end;
    }

    @include respond-to(tablets1024) {
      justify-content: flex-end;
    }
  }
}
