@import '../../styles/index.scss';

.content {
  width: 100%;
  .content-title-wrap {
    height: 200px;
    @include flex-center();
  }
  .content-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 14px;

    @include respond-to(phoneCard) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0;
    }
    @include respond-to(tabletsCard) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @include respond-to(tablets1024) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @include respond-to(desktopHD1440) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    @include respond-to(desktopHDXL1440) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}
