@import '../../styles/index.scss';

.content {
  width: 100%;
  .content-title-wrap {
    height: 200px;
    @include flex-center();
    @include respond-to(phoneCard) {
      display: none;
    }
  }
  .content-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 14px;
    @include respond-to(phoneCard) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0;
    }
    @include respond-to(tabletsCard) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @include respond-to(tablets1024) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .wrapper {
    margin-bottom: 150px;
  }

  .empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: $darker-grey;
    font-size: 16px;
    font-weight: bold;
    .emptyText {
      margin-top: 10px;
    }
  }
}
