@import '../../styles/index.scss';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.content-wrapper {
  font-family: 'Crimson Text', serif;
  width: 100%;
  font-size: 22px;
  color: #000;
  line-height: 1.58 a {
    text-decoration: none;
    border-bottom: 1px solid #e8e8e8;
  }
}
