@import '../../styles/index.scss';

.reading-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;

  @include respond-to(phone320) {
  }
  @include respond-to(tablets1024) {
    grid-template-columns: 260px 1fr;
  }
  @include respond-to(desktopHD1440) {
    grid-template-columns: 350px 1fr;
  }

  .reading-left {
    padding: 0 40px;
    @include respond-to(phone320) {
      display: none;
    }
  }
  .reading-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
