@import '../../styles/index.scss';

.bookmark {
  position: fixed;
  top: 70px;
  right: calc(5vw + 30px);
  transition: 0.3s;
  z-index: 2;
  cursor: pointer;
  svg path {
    transition: 0.3s;
  }
  &:hover {
    top: 80px;
    svg path {
      fill: $blue; //#d0021b;
    }
  }
  &.active svg path {
    fill: $blue; //#d0021b;
  }
}
.reading-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 10%;
  margin-top: 20px;
  transition: 0.5s;
  //Break Point for the wrapper
  @include respond-to(phone320) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  @include respond-to(tablets768) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  @include respond-to(tablets1024) {
    grid-template-columns: 200px 1fr;
  }
  @include respond-to(desktopHD1440) {
    grid-template-columns: 250px 1fr;
  }

  .reading-left {
    position: fixed;
    top: 115px;
    bottom: 50px;
    width: 250px;
    overflow: auto;
    z-index: 1;
    transition: 0.5s;
    //Break Point for left row
    @include respond-to(phone320) {
      display: none;
    }
    @include respond-to(tablets768) {
      display: none;
    }
    @include respond-to(tablets1024) {
      width: 200px;
    }
    @include respond-to(desktopHD1440) {
      width: 250px;
    }
  }
  .reading-right {
    justify-self: center;
    grid-column-start: 2;
  }
}
